api_version: "1"
image:
  name: python
  tag: 3.7
container:
  ports:
  - host: 5020
    target: 80
  mounts:
  - host: $PWD/data
    target: /data
  name: foobar
  command: ["python", "-m", "http.server", "80"]
branch:
  name: master
  build_on_failure: false
heartbeat:
  sleep_time: 10
  endpoint: /heartbeat
